---
import { MatchContainer } from '@/components/Match'
import Layout from '@/layouts/Layout.astro'

const { id } = Astro.params

if (!id) return
---

<Layout>
  <div>
    <div class="container mx-auto flex">
      <MatchContainer client:load id={id} />
    </div>
  </div>
</Layout>
