---
import { LoginFormContainer } from '@/components/LoginFormContainer'
import { ProfileMatches } from '@/components/ProfileMatches'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Profile">
  <img
    class="w-32 h-32 rounded-full mx-auto"
    src="/images/placeholder.jpg"
    alt="Profile Picture"
    transition:name="profile-img"
  />
  <section class="w-full flex flex-col items-center justify-center my-3">
    <LoginFormContainer client:load />
    <ProfileMatches client:only="react" />
  </section>
</Layout>
